.places {
    color: #fff;
    max-width: 984px;
    display: grid;
    grid-template-columns: minmax(min-content, max-content);
    grid-template-rows: repeat(5, minmax(min-content, max-content));
    row-gap: 80px;
}

@media screen and (max-width: 1024px) {
    .places {
        max-width: 928px;
    }    
}

@media screen and (max-width: 768px) {
    .places {
        max-width: 720px;
    }    
}

@media screen and (max-width: 360px) {
    .places {
        max-width: 320px;
        display: flex;
        flex-direction: column;
        
    }    
}