.place__paragraph {
    margin: 0 auto 26px ;
}

.place__paragraph:last-child {
    margin-bottom: 0;
}

@media screen and (max-width: 320px) {
    .place__paragraph {
       
        max-width: 288px;
        margin: 0 auto 25px;
    }
    .place__paragraph:last-child {
        margin-bottom: 0;
    }
}