.lead__image {
    max-width: 984px;
    
    background-size: contain;
    background-repeat: no-repeat;
    margin: 0 auto;
    
}

@media screen and (max-width: 1024px) {
    .lead__image {
        
        max-width: 100%;
    }
}

@media screen and (max-width: 768px) {
    .lead__image {
        
        
        margin: 0;
    
    }
}

