.lead__subtitle {
    color: #fff;
    margin: 32px auto 64px;
    text-align: center;
    line-height: 36px;
    font-size: 30px;
    font-weight: 400;
    max-width: 640px;
    /*max-height: 72px;*/
}

@media screen and (max-width: 320px) {
    .lead__subtitle {
        line-height: 20px;
        font-size: 16px;
        margin: 16px auto 40px;
        max-width: 288px;
    }
}