.photo-grid__list-item {
    padding: 0;
    ;
    max-width: 284px;
}

@media screen and (max-width: 1200px) {
    .photo-grid__list-item {
        max-width: 300px;
        
    }
}

@media screen and (max-width: 940px) {
    .photo-grid__list-item {
        max-width: 352px;
        
        
    }
}

@media screen and (max-width: 738px) {
    .photo-grid__list-item {
        max-width: 288px;
        
    }
}