.lead__caption {
    color: #fff;
    max-width: 158px;
    text-transform: uppercase;
    line-height: 14px;
    font-size: 10px;
    font-weight: 400;
    margin: 8px 0 0 0;
}

@media screen and (max-width: 768px) {
    .lead__caption {
        margin-left: 16px;
    }
}