.footer {
    display: flex;
    row-gap: 18px;
    color:#fff;
    
   /*min-height: 18px;*/
    justify-content: space-between;
}

@media screen and (max-width: 768px) {
    .footer {
        flex-wrap: wrap;
        
        
    }
}

@media screen and (max-width: 320px) {
    .footer {
        flex-direction: column;
        justify-content: flex-start;
        
    }
}