.page__footer {
     
        margin: 92px auto 0;
        max-width: 1184px;
}   
    
    
    
    @media screen and (max-width: 1024px) {
        .page__footer {
            margin: 88px auto 0;
            max-width: 928px;
        }
    }
    
    @media screen and (max-width: 768px) {
        .page__footer {
            margin: 88px auto 0;
            max-width: 720px;
        }
    }
    
    @media screen and (max-width: 320px) {
        .page__footer {
            margin-top: 64px;
            margin-left: 16px;
            max-width: 288px;
            
        }
    }
