.place__website {
    margin: 0;
    grid-row: 1;
    grid-column: 2;
    align-self: end;
}



@media screen and (max-width:320px) {
    .place__website {
        order: 2;
        margin: 0 auto;
        min-width: 288px;
    }
}